---
layout: splash
title: "Aayush Malik"
header:
  overlay_color: "#072f5f"
  overlay_filter: "0.5"
  overlay_image: /assets/images/alina-grubnyak-unsplash.jpg
  actions:
    - label: "Say Hi!"
      url: "https://aayushmalik.github.io/contact/"
excerpt: "I empower organizations to make data-driven decisions by using Machine Learning."
intro: 
  - excerpt: "I empower organizations to make data-driven decisions by using Machine Learning."
feature_row2:
  - image_path: /assets/images/earth-from-above.jpg
    alt: "remote sensing and satellites"
    title: "Remote Sensing and Satellite Imagery"
    excerpt: 'Using remotely sensed data from sensors aboard `MODIS`, `SENTINEL`, and `LANDSAT` for program evaluation.'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row3:
  - image_path: /assets/images/nlp.jpg
    alt: "natural language processing"
    title: "Natural Language Processing"
    excerpt: 'Using NLP libraries for generating insights on customer behaviour from tons of unstructured textual data.'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row4:
  - image_path: /assets/images/program-evaluation.jpg
    alt: "program evaluation"
    title: "Program Evaluation"
    excerpt: 'Applying experimental and quasi-experimental methods to ascertain the impact of an intervention.'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
---
{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

{% include feature_row id="feature_row4" type="left" %}

> Probability is orderly opinion. Inference from data is nothing other than the revision of such opinion in the light of relevant new information.